* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 50%;
  height: 300px;
}

#ChartOne {
  width: 100%;
  height: auto;
}

#ChartTwo {
  width: 100%;
  height: auto;
}

#ChartThree  {
  width: 100%;
  height: auto;
}
